<div layout="row" flex>
    <div flex="15" hide-sm hide-xs>

        </div>

    <div flex class="changePasswordBoxContent">
    
       <md-content layout="column" class="changePasswordBox" flex-gt-xs="70">
        <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Change Password</h2>
    </div>
  </md-toolbar>
		<form name="changePasswordForm" layout-padding>
			<md-input-container class="md-block">
		        <label>Old Password</label>
		        <input type="password" minlength="6" required md-no-asterisk name="oldPassword" ng-model="pass.oldPassword">
		        <div ng-messages="changePasswordForm.oldPassword.$error">
		            <div ng-message-exp="['required', 'minlength']">
	     			 The password must not be empty and at least 6 characters long.
	    			</div>
		        </div>
		        <div ><span class="formError">{{passwordError}}</span></div>
		    </md-input-container>
		    <md-input-container class="md-block">
		        <label>New Password</label>
		        <input type="password" minlength="6" required md-no-asterisk name="newPassword" ng-model="pass.newPassword">
		        <div ng-messages="changePasswordForm.oldPassword.$error">
		            <div ng-message-exp="['required', 'minlength']">
	     			 The password must not be empty and at least 6 characters long.
	    			</div>
		        </div>
		      </md-input-container>
		       <md-button ng-disabled="changePasswordForm.$invalid" ng-click ="changePassword(pass)" class="md-raised md-primary">Change</md-button>
		</form>
		     <md-progress-linear ng-show="loading" md-mode="indeterminate" style="padding:0px"></md-progress-linear>
        </md-content>
    </div>
    <div flex="15" hide-sm hide-xs>

        </div>
</div>
